anytree>=2.7.3
black>=19.10b0
cvxpy>=1.0.25
dash>=1.7.0
deprecation>=2.0.7
minizinc>=0.2.2
numpy>=1.18.1
pandas>=0.25.3
plotly>=4.4.1
tabulate>=0.8.6

# must be installed manually, see README.md:
# gnucashxml==1.0
